<div class="mx-auto w-75 p-4">
    <h1>Forget yor Passord !</h1>
    <p>Please enter ypr email address blew.
        we will send ypu a averification code
        to reset your password.
        
    </p>
 <!-- reactive form  -->
  @if(errorMessage) {
      <p class="alert alert-danger text-center">{{errorMessage}}</p>
  }
  <form [formGroup]="forgetPasswordFrom" (ngSubmit)="handleForgetPassword()">
   <!-- formGroup is acustom dirctive used to bind form with oject form -->
    <!-- formControlName used to bind input with spacific control in objForm  -->
    <label  class="my-2" for="email">Email</label>
    <input formControlName="email" type="email" name="email" class="form-control" >
    @if(forgetPasswordFrom.get('email')?.touched){
      <div>
             @if(forgetPasswordFrom.get('email')?.getError('required')){
                 <p class="text-info py-2">email is required</p>
                 }
             @else if(forgetPasswordFrom.get('email')?.getError('email')){
                 <p class="text-info py-2">enter avalid email</p>
            }
            
    </div>
    }
    <!-- "!signUpObjectForm.valid"========"signUpObjectForm.invalid" -->
    <button type="submit" [disabled]="forgetPasswordFrom.invalid||isloading" class="btn btn-outline-success my-lg-3">
      @if(isloading==false){
      <span>send</span>}
      @else if(isloading==true){
      <span  class="fa-solid fa-spinner fa-spin p-2 "></span>
      }
    </button>
 </form>
</div>


