<div class="row g-0">
    <div class="col-md-9">
    <div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slide-content">
        <img style="height: 400px;" class="w-100 object-fit-cover" src="images/main-slider-1.jpeg" alt="Slider Image 1">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-content">
        <img style="height: 400px;" class="w-100 object-fit-cover" src="images/main-slider-2.jpeg" alt="Slider Image 2">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-content">
        <img style="height: 400px;" class="w-100 object-fit-cover" src="images/main-slider-3.jpeg" alt="Slider Image 3">
      </div>
    </div>
  </div>
 
</div>
    </div>
    <div class="col-md-3">
       <img style="height: 200px;"  class="w-100 object-fit-cover" src="images/main-slider-1.jpeg" alt="">
        <img style="height: 200px;"  class="w-100 object-fit-cover" src="images/slide-2.jpeg" alt="">

    </div>

</div>
